{% extends 'base.html.twig' %}
{% block title %}{{ 'Inbox'|trans }}{% endblock %}

{% block body %}
<a href="{{ path('app_content_create')}}">Create</a>
<table class="table">
<thead>
<tr>
<th>
Name
</th>
<th>
Actions
</th>
</tr>
</thead>
<tbody>
{% for content in contents %}
<tr>
<td>
<a href="#" class="show" data-id="{{content.id}}">{{content.name}}</a>
</td>
<td>
<span><a href="{{path('app_content_edit', {'id': content.id})}}">Edit</a>
</td>
</tr>
{% endfor %}
</tbody>
</table>
<div class="result-show">
</div>
{% endblock %}
{% block javascript %}
<script>
$('body').on('click', '.show', function() {
    let id = $(this).data('id');
    let url = "{{ path('app_content_show', {'id': 'id'}) }}";
    console.log(url);
    url = url.replace('id', id);
    console.log(url);
    $.get( url, function( data ) {
        $('.result-show').html(data.response);
});
    return;
   
  alert( "Load was performed." );
//});
});
</script>
{% endblock %}