<a href="{{ path('show_slug', {'slug': content.slug}) }}" target="_blank" class="btn btn-primary btn-xs">Preview</a>
<div class="form-group">
<label class="form-label">Name</label>
<input class="form-control" type="text" name="name" value="{{content.name}}" />
</div>
<div class="form-group">
<label class="form-label">Code</label>
<input class="form-control" type="text" name="name" value="{{content.code}}" />
</div>
<div class="form-group">
<label class="form-label">Slug</label>
<input class="form-control" type="text" name="name" value="{{content.slug}}" />
</div>
{% for parameter in content.contentParameters %}
<div class="form-group">
{% for value in parameter.values %}
<label class="form-label">{{parameter.type}}</label>
<input class="form-control" type="text" name="name" value="{{value.value}}" />
{% endfor %}
</div>
{% endfor %}